.background-wrapper-curriculum {
  background-color: $main-black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/curriculum/background_image_curriculum.jpg);
  background-size: 248px 170px;
  background-repeat: no-repeat;
  background-position: calc(50% + 150px) 87%;
}
@media (min-resolution: 192dpi) {
  .background-wrapper-curriculum {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/curriculum/background_image_curriculum@2x.jpg);
  }
}
.curriculum {
  &__title {
    font-family: $main-font;
    font-size: 1.25rem;
    font-weight: 800;
    color: $white;
  }
  &__list-semesters {
    padding-left: 60px;
    position: relative;
  }
  &__item-title {
    color: $white;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
  }
  &__item-subtitle {
    font-family: $main-font;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.8125rem;
    color: $orange;
    display: inline-block;
    position: relative;
    padding: 14px 0 10px 35px;
    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 2px;
      background-color: $orange;
      position: absolute;
      top: 50%;
      left: 0px;
      margin: 0;
    }
  }
  &__list-semesters-item {
    padding: 0 30px 30px;
    position: relative;
    &:hover .curriculum__item-title {
      &:before {
        box-shadow: 0 0 29px 4px rgba($color: $white, $alpha: 0.35);
      }
    }
  }
  &__lesson-topic {
    font-family: $main-font;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 1.25rem;
    color: $main-gray;
  }
}
.container-virtues {
  position: relative;
}
.virtues {
  position: absolute;
  counter-reset: virtues-counter;
  &__title {
    font-family: $main-font;
    color: $white;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.875rem;
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 25px 25px 28px;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba($color: $last-black, $alpha: 0.04);
    background-color: $white;
  }
  &__item {
    font-family: $main-font;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: $last-black;
    max-width: 100%;
  }
  &__item-namber {
    font-family: $main-font;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: $orange;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    width: 100%;
    margin: 0;
    &::after {
      content: '0' counter(virtues-counter);
      counter-increment: virtues-counter;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 2px;
      background-color: $orange;
      position: absolute;
      top: 50%;
      left: 0px;
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .curriculum {
    padding: 45px 0 350px;
    &__title {
      text-align: center;
      margin-bottom: 35px;
    }
    &__item-title {
      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $orange;
        position: absolute;
        top: 0;
        left: -4px;
      }
    }
  }
  .virtues {
    top: -330px;
    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__title {
      width: 50%;
    }
  }
}
@media (max-width: 1279px) {
  .curriculum {
    &__list-semesters {
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 1270px;
        background-color: $time-line-color;
      }
      &:hover {
        &:before {
          background-image: linear-gradient(
            33deg,
            $time-line-color 0%,
            $orange 99%
          );
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .virtues {
    &__title {
      text-align: center;
      font-size: 1.625rem;
      line-height: 3.875rem;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .background-wrapper-curriculum {
    background-size: 455px 290px;
    background-position: calc(100% + 45px) 86%;
  }
  .curriculum {
    padding: 45px 0 350px;
    &__title {
      font-size: 1.625rem;
      line-height: 3.9375rem;
      margin-bottom: 40px;
    }
    &__list-directions-in-learning {
      display: flex;
    }
    &__item-directions-in-learning {
      flex-basis: 33%;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__item-title {
      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $orange;
        position: absolute;
        top: 0;
        left: -4px;
      }
    }
    &__list-semesters {
      padding-left: 90px;
      &::before {
        height: 700px;
      }
    }
  }
  .virtues {
    top: -180px;
    &__list {
      padding-left: 108px;
      padding-top: 10px;
    }
    &__item {
      flex-basis: 40%;
      &:nth-child(odd) {
        margin-right: 45px;
      }
      &:nth-child(-n + 4) {
        margin-bottom: 15px;
      }
    }
  }
}
@media (min-width: 1280px) {
  .background-wrapper-curriculum {
    position: relative;
    background-size: 547px 407px;
    background-position: left -20px bottom 205px;
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $time-line-color;
      position: absolute;
      top: 158px;
    }
    &:hover {
      &::before {
        background-image: linear-gradient(
          1deg,
          $orange 0%,
          $orange 99%
        );
      }
    }
  }
  .curriculum {
    padding: 60px 0 430px 0;
    &__list-semesters {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 0;
      &-item {
        padding: 0;
        max-width: 17%;
      }
    }
    &__title {
      font-size: 2.625rem;
      line-height: 3.9375rem;
      margin-bottom: 50px;
      position: relative;
    }
    &__item-title {
      font-size: 1.1875rem;
      line-height: 1.8125rem;
      padding-top: 28px;
      margin-bottom: 16px;
      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background-color: $orange;
        position: absolute;
        top: -23px;
        left: 0;
      }
    }
    &__item-subtitle {
      font-size: 1.125rem;
      line-height: 1.8125rem;
    }
    &__lesson-topic {
      font-size: 1.1875rem;
      line-height: 1.8125rem;
    }
  }
  .virtues {
    top: -404px;
    &__title {
      font-size: 2.625rem;
      line-height: 3.5rem;
      margin-bottom: 35px;
    }
    &__list {
      padding: 45px 0 50px 100px;
    }
    &__item {
      font-size: 1.125rem;
      line-height: 1.8125rem;
      flex-basis: 30%;
      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
      &:nth-child(-n + 3) {
        margin-bottom: 40px;
      }
    }
    &__item-namber {
      font-size: 1.3125rem;
      line-height: 1.8125rem;
    }
  }
}
@media (min-width: 1680px) {
  .background-wrapper-curriculum {
    position: relative;
    background-size: 700px 485px;
    background-position: left bottom 80px;
    &:before{
      height: 4px;
      top: 260px;
    }
  }
  .curriculum {
    padding: 115px 0 380px;
    &__list-semesters {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      font-size: 2.875rem;
      line-height: 3.9375rem;
      margin-bottom: 110px;
    }
    &__item-title {
      font-size: 1.3125rem;
      line-height: 1.8125rem;
      &::before {
        top: -36px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
      }
    }
    &__item-subtitle {
      font-size: 1.3125rem;
      line-height: 1.8125rem;
    }
    &__lesson-topic {
      font-size: 1.1875rem;
      line-height: 1.8125rem;
    }
  }
  .virtues {
    top: -300px;
    &__title {
      font-size: 2.875rem;
      line-height: 3.125rem;
      margin-bottom: 50px;
    }
    &__list {
      padding-top: 65px;
    }
    &__item {
      font-size: 1.3125rem;
      line-height: 1.8125rem;
    }
  }
}
