.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #77fafa;
		z-index: 2;
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 92px;
	}

	&__logo {
		position: relative;
		z-index: 3;
	}

	&__burger {
		display: none;
	}

	&__menu {
		display: flex;
	}

	&__list {
		display: flex;
		position: relative;
		z-index: 2;
	}

	// &__item {
	// 	&:not(:last-child) {
  //     margin-right: 62px;
  //   }
	//	}

	&__link {
		font-family: $button-font;
		font-size: 0.875rem;
		letter-spacing: 0.035rem;
		color: $last-gray;
	}
}

.button-modal {
	display: inline-block;
	width: 250px;
	font-family: $button-font;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1.1px;
	color: $orange;
	padding: 20px 0 20px;
	background-color: transparent;
	border: 2px solid $orange;
	position: relative;
	cursor: pointer;
	z-index: 3;
}

@media (max-width: 767px) {
	body .lock {
		overflow: hidden;
	}

	&__logo .logo--color > logo__name {
		color: $white;
	}

	.header {
		&__burger {
			display: block;
			position: relative;
			width: 24px;
			height: 12px;
			right: 0;
			z-index: 3;

			&.active {
				&::before {
					transform: rotate(45deg);
					top: 5px;
				}

				&::after {
					transform: rotate(-45deg);
					bottom: 5px;
				}

				& span {
					transform: rotate(45deg);
					top: 5px;
					height: 0;
				}
			}

			& span {
				position: absolute;
				background-color: $last-black;
				width: 100%;
				height: 2px;
				left: 0;
				top: 5px;
				transition: all .3s linear;
			}

			&::before, &::after {
				content: '';
				background-color: $last-black;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all .3s linear;
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}
		}

		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			overflow: auto;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.86);
			padding: 120px 0px 0px 28px;
			transition: all .5s linear;
			
			&.active {
				top: 0;
			}
		}

		&__list {
			display: block;
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		&__link {
			font-family: $button-font;
			font-size: 18px;
			letter-spacing: 1px;
		}
	}
	.button-modal {
		display: block;
	}
}