.how-do {
  padding-top: 25px;
  &__title-section {
    text-align: center;
    color: $bg-black;
    padding-bottom: 40px;
  }
  &__list {
    margin: 0 auto;
  }
  &__title {
    padding: 0 30px 0 30px;
    display: block;
    position: relative;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    line-height: 20px;
    color: $main-black;
    font-family: $main-font;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 18px;

    &::after {
      display: inline-block;
      content: '';
      width: 25px;
      height: 2px;
      background-color: $orange;
      position: absolute;
      bottom: 0;
      left: calc(50% - 12.5px);
    }
  }
  &__text {
    font-size: 0.6875rem;
    letter-spacing: 1px;
    line-height: 20px;
    color: $main-gray;
    font-family: $main-font;
    font-weight: 400;
    padding: 0 19px 0 19px;
  }
  &__item {
    min-height: 267px;
    width: 280px;
    text-align: center;
    margin-bottom: 16px;
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);

    &--wrapper {
      padding-top: 30px;
      padding-bottom: 20px;
    }
    &--icon {
      margin: 0 auto;
      fill: $orange;
      display: block;
      height: 45px;
      width: 42px;
    }
    &:hover {
      background-color: $orange;
    }
    &:hover .how-do__item--icon {
      fill: $white;
    }
    &:hover .how-do__title {
      color: $white;
    }
    &:hover .how-do__title::after {
      background-color: $white;
    }
    &:hover .how-do__text {
      color: $white;
    }
  }
}
@media (min-width: 768px) {
  .how-do__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .how-do__item {
    width: 290px;
  }
  .how-do__item:nth-child(odd) {
    margin-right: 20px;
  }
}

@media (min-width: 1280px) {
  .how-do {
    padding-top: 40px;
    margin-bottom: 80px;
    &-section {
      text-align: start;
      font-size: 2.625rem;
      letter-spacing: 2px;
      line-height: 63px;
    }
        &__list {
          justify-content: space-between;
        }
        &__item {
          width: 390px;
          padding-bottom: 20px;
          &:nth-child(odd) {
            margin-right: 0px;
          }
        }
  }
}
