.how-do {
  padding-top: 0;
  margin-bottom: 53px;
  &__title-section {
    color: $bg-black;
    padding-bottom: 40px;
  }
  &__list {
    margin: 0 auto;
    
  }
  &__title {
    padding: 0 30px 0 30px;
    display: block;
    position: relative;
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
    line-height: 1.25rem;
    color: $main-black;
    font-family: $main-font;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 18px;

    &::after {
      @include dash;
      top: 100%;
      left: calc(50% - 12.5px);
   }
  }
  &__text {
    font-size: 0.6875rem;
    letter-spacing: 0.0625rem;
    line-height: 1.25rem;
    color: $main-gray;
    font-family: $main-font;
    font-weight: 400;
    padding: 0 19px 0 19px;
  }
  &__item {
    min-height: 267px;
    width: 280px;
    margin-bottom: 16px;
    @include transition;
    @include shadow;
    
    &--wrapper {
      padding-top: 30px;
      padding-bottom: 20px;
    }
    &--icon {
      margin: 0 auto;
      fill: $orange;
      display: block;
      height: 47px;
      width: 44px;
    }
    &:hover {
      background-color: $orange;
    }
    &:hover .how-do__item--icon {
      fill: $white;
    }
    &:hover .how-do__title {
      color: $white;
    }
    &:hover .how-do__title::after {
      background-color: $white;
    }
    &:hover .how-do__text {
      color: $white;
    }
  }
}
@media (min-width: 768px) {
  .how-do {
    margin-bottom: 50px;
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item {
      width: 290px;
    }
    &__item:nth-child(odd) {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1280px) {
  .how-do {
    margin-bottom: 80px;

    &__title-section {
      text-align: start;
      font-size: 2.625rem;
      letter-spacing: 0.125rem;
      line-height: 3.9375rem;
    }
    &__title {
      font-size: 1.125rem;
      line-height: 1.8125rem;
    }
    &__text {
      font-size: 0.9375rem;
      line-height: 1.9375rem;
    }
    &__list {
      justify-content: space-between;
    }
    &__item {
      width: 390px;
      padding-bottom: 32px;
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }
  }
}
@media (min-width: 1680px) {
  .how-do {
    margin-bottom: 130px;
    &__title-section {
      font-size: 2.875rem;
    }
    &__title {
      font-size: 1.3125rem;
      line-height: 1.8125rem;
    }
    &__text {
      font-size: 1.1875rem;
    }
    &__list {
      justify-content: space-around;
    }
    &__item {
      width: 430px;
      padding-bottom: 55px;
    }
  }
}
