.title_colour {
  color: #ff6b08;
}
.main-problems {
  background-image: linear-gradient(#111517 80%, transparent 20%);
  padding-top: 50px;
  margin-bottom: 25px;
  &__title {
    width: 233px;
    font-family: $main-font;
    padding-bottom: 19px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.25rem;
    line-height: 30px;
  }
  &__list {
    background-color: #fff;
    padding: 0;
    margin: 0;
    counter-reset: item;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  }
  &__item {
    font-family: $main-font;
    color: #18191d;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 20px;
    position: relative;
    padding-top: 15px;
    margin-left: 28px;
    width: 200px;
    &:last-child {
      padding-bottom: 32px;
    }
    &::after {
      display: inline-block;
      content: '';
      width: 25px;
      height: 2px;
      background-color: #ff6b08;
      position: absolute;
      top: 25px;
      left: 0;
    }
    &::before {
      counter-increment: item;
      content: counter(item, decimal-leading-zero) ' ';
      font-weight: 600;
      font-size: 0.875rem;
      display: inline-block;
      color: #ff6b08;
      margin-bottom: 12px;
      margin-left: 40px;
    }
  }
}

@media (min-width: 768px) {
  .main-problems {
    background-image: linear-gradient(#111517 68%, transparent 32%);
    // background-image: url(../images/fire.png);
    // background-position: right bottom;
    // background-repeat: no-repeat;
    // background-size: cover;
  }
  .main-problems__item {
    width: 250px;
  }
  .main-problems__title {
    width: 460px;
    font-size: 1.625rem;
    line-height: 33px;
  }

  .main-problems__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
