.title_colour {
  color: #ff6b08;
}
.main-problems {
  background-image: linear-gradient(#111517 80%, transparent 20%);
  padding-top: 50px;
  margin-bottom: 25px;
  &__title {
    width: 233px;
    font-family: $main-font;
    padding-bottom: 19px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.25rem;
    line-height: 30px;
  }
  &__list {
    background-color: #fff;
    padding: 0;
    margin: 0;
    counter-reset: item;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  }
  &__item {
    font-family: $main-font;
    color: #18191d;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 20px;
    position: relative;
    padding-top: 15px;
    margin-left: 28px;
    width: 200px;
    &:last-child {
      padding-bottom: 32px;
    }
    &::after {
      display: inline-block;
      content: '';
      width: 25px;
      height: 2px;
      background-color: #ff6b08;
      position: absolute;
      top: 25px;
      left: 0;
    }
    &::before {
      counter-increment: item;
      content: counter(item, decimal-leading-zero) ' ';
      font-weight: 600;
      font-size: 0.875rem;
      display: inline-block;
      color: #ff6b08;
      margin-bottom: 12px;
      margin-left: 40px;
    }
  }
}
.Layer_1 {
  background-image: url("Layer 1.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 356px;
  height: 534px;
  z-index: 1;
}
.fire {
  background-image: url("fire.png");
  position: absolute;
  left: 558px;
  top: 724px;
  width: 210px;
  height: 313px;
  z-index: 82;
}


@media (min-width: 768px) {
  .main-problems {
    background: url('../images/fire768.png') right bottom 80% no-repeat, linear-gradient(to bottom, #111517 68%, transparent 32%);
    &__item {
      width: 250px;
      font-size: 1.125rem;
      line-height: 25px;
    }
    &__title {
      width: 460px;
      font-size: 1.625rem;
      line-height: 33px;
    }
    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
@media (min-width: 1280px) {
  .main-problems {
    background: url('../images/fire1280.png') right bottom 65% no-repeat, linear-gradient(to bottom, #111517 87%, transparent 13%);
    padding-top: 70px;
    margin-bottom: 50px;
    &__title {
      font-size: 2.625rem;
      letter-spacing: 2px;
      line-height: 57px;
      width: 740px;
      padding-bottom: 50px;
    }
    &__list {
      padding: 35px 100px 0px 100px;
      justify-content: space-between;
    }
    &__item {
      width: 270px;
      margin-left: 0px;
      font-size: 1.125rem;
      letter-spacing: 1px;
      line-height: 29px;

      &:nth-child(-n + 3) {
        padding-bottom: 28px;
      }
      &:nth-child(n + 4) {
        padding-bottom: 50px;
      }
      &::before {
        font-size: 1.3125rem;
        letter-spacing: 1px;
        line-height: 29px;
      }
    }
  }
}

