.title_colour {
  color: $orange;
}
.main-problems {
  background-image: linear-gradient(#111517 80%, transparent 20%);
  padding-top: 50px;
  margin-bottom: 25px;
  &__title {
    width: 233px;
    font-family: $main-font;
    padding-bottom: 19px;
    color: $white;
    font-weight: 800;
    letter-spacing: 0.0625rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  &__list {
    background-color: $white;
    counter-reset: item;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  }
  &__text {
    font-family: $main-font;
    color: $last-black;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
  }
  &__item {
    position: relative;
    margin-top: 15px;
    margin-left: 28px;
    width: 200px;
    &:last-child {
      padding-bottom: 32px;
    }
    &::after {
      display: inline-block;
      content: '';
      width: 25px;
      height: 2px;
      background-color: $orange;
      position: absolute;
      top: 14.5px;
      left: 0;
    }
    &::before {
      counter-increment: item;
      content: counter(item, decimal-leading-zero) ' ';
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.8125rem;
      letter-spacing: 0.0625rem;
      display: inline-block;
      color: $orange;
      padding-bottom: 5px;
      padding-left: 35px;
    }
  }
}
@media (min-width: 768px) {
  .main-problems {
    background: url('../images/fire768.png') right bottom 80% no-repeat,
      linear-gradient(to bottom, $main-black 68%, transparent 32%);
      &__text {
        font-size: 1.125rem;
        line-height: 1.5625rem;
      }
      &__item {
      width: 250px;
    }
    &__title {
      width: 460px;
      font-size: 1.625rem;
      line-height: 2.0625rem;
    }
    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
@media (min-width: 1280px) {
  .main-problems {
    background: url('../images/fire1280.png') right bottom 65% no-repeat,
      linear-gradient(to bottom, $main-black 87%, transparent 13%);
    padding-top: 70px;
    margin-bottom: 50px;
    &__title {
      font-size: 2.625rem;
      letter-spacing: 0.125rem;
      line-height: 3.5625rem;
      width: 740px;
      padding-bottom: 50px;
    }
    &__list {
      padding: 35px 100px 0px 100px;
      justify-content: space-between;
    }
    &__text {
      font-size: 1.125rem;
      line-height: 1.8125rem;
    }
    &__item {
      width: 270px;
      margin-left: 0px;
      &:nth-child(-n + 3) {
        padding-bottom: 28px;
      }
      &:nth-child(n + 4) {
        padding-bottom: 50px;
      }
      &::before {
        font-size: 1.3125rem;
        line-height: 1.8125rem;
      }
    }
  }
}
@media (min-width: 1680px) {
  .main-problems {
    background: url('../images/fire1680.png') right bottom 58% no-repeat,
      linear-gradient(to bottom, $main-black 78%, transparent 22%);
    padding-top: 113px;
    margin-bottom: 70px;

    &__title {
      font-size: 2.875rem;
      line-height: 3.9375rem;
      width: 810px;
      padding-bottom: 75px;
    }
    &__list {
      padding: 55px 100px 0px 100px;
      justify-content: space-between;
    }
    &__text {
      font-size: 1.3125rem;
    }
    &__item {
      width: 327px;
      &:nth-child(-n + 3) {
        padding-bottom: 28px;
      }
      &:nth-child(n + 4) {
        padding-bottom: 75px;
      }
      &::before {
        font-size: 1.3125rem;
      }
    }
  }
}
