.feedback {
    position: relative;
    width: 320px;


    &__group-photo {
        position: absolute;
        z-index: 1;    
    }
}

.feedback-content {
    position: absolute;
    width: 100%;
    padding-top: 58px;
    padding-bottom: 58px;
    background-position: center;
    text-align: center;
    z-index: 2;     


    &__title {    
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 800;
        color: #000000;
        padding-bottom: 26px;
        /*width: 235px;
        margin: 0 auto;
        padding-top: 58px;
        padding-bottom: 58px;*/
    }

    &__description {
        font-family: 'Montserrat';
        font-size: 11px;
        font-weight: 600;
        color: #000000;
        padding: 30px;
    }
}

.text-effect {
    color: #ff6b08;
}




