@mixin dash ($display: block, $pos: absolute, $content: '', $back-col: $orange, $wid: 25px, $heig: 2px, $top: 14.5px,  $left: 0 ) {
    display: $display;
    position: $pos;
    content: $content;
    background-color: $back-col;
    width: $wid;
    height: $heig;
    top: $top;
    left: $left;
}
@mixin counter ($display: inline-block, $coun-incr: item, $content: counter(item, decimal-leading-zero) ' ', $font-weight: 500, $font-size: 0.875rem, $line-height: 1.8125rem, $letter-spacing: 0.0625rem, $color: $orange) {    
    display: $display;
    counter-increment: $coun-incr;
    content: $content;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}
@mixin pseudo ($display: inline-block, $pos: absolute, $content: '') {
    display: $display;
    position: $pos;
    content: $content;
}
@mixin transition ($transition: all 0.2s ease 0.2s) {
    transition: $transition;
}
@mixin shadow ($box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11)) {
    box-shadow: $box-shadow;
}
