$main-font: 'Montserrat', sans-serif;
<<<<<<< HEAD
$button-font: 'Arimo', sans-serif; /*fixed the error in the name of the variable*/
=======
$button-font: 'Arimo', sans-serif;
>>>>>>> 7f7fa1c9da046d7ed00df8c5343cd39931e6a4ad
/* Color */
$main-black: #111517;
$last-black: #18191d;
$bg-black: #000;
$white: #fff;
$main-gray: #858585;
$last-gray: #b9b9b9;
$orange: #ff6b08;
