$main-font: 'Montserrat', sans-serif;
$buttton-font: 'Arimo', sans-serif;
/* Color */
$main-black: #111517;
$last-black: #18191d;
$bg-black: #000;
$white: #fff;
$main-gray: #858585;
$last-gray: #b9b9b9;
$orange: #ff6b08;